* {
  margin:0;
  padding:0;
  border:0;
  background:transparent;
  outline:none;
  text-decoration:none;
  outline:none;
  font-family:inherit;
  box-sizing:border-box;
}

ol, ul, li {
  list-style:none;
  display:block;
}

table {
  border-collapse: collapse;
  border-spacing:0;
}

a img {
  border: none;
}

button, a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}  

button, input, textarea, select {
  appearance: none !important;
  -webkit-appearance: none !important; 
  border-radius: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color:#55bcc9;
  background-image: radial-gradient(circle, rgba(252,68,69,1) 0%, rgba(151,202,250,1) 70%, rgba(63,238,230,1) 100%);
}

@keyframes welcomeAnim {
  0% {background-color: #3feee6; transform: rotate(0) scale(1);}
  50% {background-color: #fc4445; transform: rotate(180deg) scale(0.1);}
  100% {background-color: #3feee6; transform: rotate(360deg) scale(1);}
}

#welcome {
  position: relative;
  width: calc(100vh - 160px);
  height: calc(100vh - 160px);
  margin: 80px auto;
  
}

#welcome::before {
  content: "";
  position: absolute;
  display: block;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  
  border-radius: 15px;
  background-color: #3feee6;
  box-shadow: 0 0 40px #fc4445;

  animation-name: welcomeAnim;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#welcome button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  z-index: 2;
  height: 200px;
  border: 8px solid #97cafafe;
  border-radius: 50%;
  
  font-weight: 800;
  color: #fc4445;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  
  background-color:#55bcc9;
  transform: translate(-50%, -50%);
  transition: transform 0.5s;  
}

#welcome button:hover {
  transform: translate(-50%, -50%) scale(1.2) rotate(180deg);
}


